body{
  background: rgb(244, 211, 239);
}
.App {
  text-align: center;
  width: 90%;
  padding: 0 5%;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-bottom: 30px;
}

h2.no-results {
  text-align: center;
  grid-column: 1/4;
}

#search {
  margin-bottom: 30px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search-btn{
background: rgb(237, 237, 237);
border: none;
border-radius: 5px;
padding: 5px 10px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


